<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">

    <%= image_tag "glasses.jpg", width: 300, alt: "profile_image" %>
  </div>

  <div class="col-md-8">
    <p>I'm an aspiring entrepenuer looking for more knowledge in things that make peoples lives happier.</p>

    <p>I want to meet like-minded people that will teach me more about how to be better in every way possible and grow together as a team headed for success. </p>

    <p>If you want to work together on a project or have any ideas that you want help and input on, contat me. </p>

  </div>
</div>
