<h1>Hit me up!</h1>

<p><%= number_to_phone "(760) 780-3193" %></p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.149234906668!2d-111.98270568472545!3d40.53829197935117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875285beeb381145%3A0x890decc0d0d07e45!2s3768+Bari+Way%2C+South+Jordan%2C+UT+84095!5e0!3m2!1sen!2sus!4v1493157464031" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


